---
---

@import "{{ site.theme }}";

body {
	background-color: #1e1e1e;
	color: #cfcfcf;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a { color: #79b8ff; }
code, pre {
	background-color: #2d2d2d;
	color: #f8f8f2;
	padding: 2px 4px;
	border-radius: 4px;
}
